.statusBar{
	position: absolute;
	width: 100%;
	height: 0;
	background-color: rgba(0,0,0,.8);
	z-index: 9;
	display: none;
	color: #fff !important;
}
.statusBar h3{
	margin: 0 auto;
	background-color: rgba(0,0,0, 0.8);
	height: 40px;
	text-align: center;
	line-height: 37px;
}
.statusBar span{
	position: absolute;
	border-width: 15px 0;
	border-color: rgba(0,0,0,.6);
	border-style: solid;
	width: 100%;
	bottom: 0;
}
.statusBar span:before{
	position: absolute;
	width: 10px;
	height:10px;
	border-radius: 5px;
	background-color: #ddd;
	content: "";
	bottom: 0;
	text-align: center;
	margin: auto;
	right: 50%;
	margin-bottom: -5px;
	z-index: 99;
}
.statusBar ul{
	padding: 0;
}
.statusBar li{
	background-color: #555;
	border-radius: 0;
	border-color: #999;
}
.statusBar li:after{
	width: 20px;
	height: 20px;
	content: "";
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 15px;
	border-radius: 5px;
}
.statusBar li.yellow:after{
	background-color: #ff0;
}
.statusBar li.red:after{
	background-color: #f00;
}
.statusBar li.green:after{
	background-color: #0f0;
}
.statusBar li.white:after{
	background-color: #fff;
}